body > .container {
    margin-top: 70px;
}

.result {
    padding: 0 12px;
}

.btn-link:focus {
    outline: none;
}

.progress p{
    position: absolute;
    width: 93%;
    border-radius: 20%;
    padding: 0 5px;
}

.category-name .toggle-lessons {
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.flip {
    transform: rotate(-180deg);
}

.category-name-mg {
    margin-left: 15px;
    margin-right: 15px;
}

.lesson-name {
    margin-top: 0;
}

.nav-tabs {
    margin-bottom: 15px;
}

.list-group-item {
    padding: 5px 10px;
}

.pagination {
    margin-bottom: 0;
    margin-top: 0;
}

.form-group a:hover {
    text-decoration: none;
}

.sentences-wrapper {
    padding: 20px 10px 15px 20px;
    max-height: 410px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sentences-wrapper > div {
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
}

.sentences-wrapper button{
    float: left;
    width: 40px;
    height: 35px;
    padding: 5px;
}

.sentences-wrapper .input-answer-wrapper{
    float: left;
    display: inline-block;
    margin: 0 10px;
    width: calc(100% - 100px);

}

.sentences-wrapper .result {
    margin-bottom: 0;
}

.sentences-wrapper span.text-danger {
    color: red;
}

.done input, .done .btn {
    color: green;
    border-color: green;
}

.shortcut-help {
    position: absolute;
    top: -20px;
    right: 25px;
}
.shortcut-help:hover {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.pagination li a {
    margin-bottom: 5px;
}

.glyphicon-refresh.spinning {
    transform-origin: 48% 50%;
}

.btn {
    white-space: normal;
}

@media(min-width: 768px) {
}

@media(max-width: 768px) {
    .lesson-wrapper .col-sm-3 {
        padding-left: 0;
    }

    .lesson-wrapper .col-sm-9 {
        padding-right: 0;
    }
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}