.result {
    padding: 0 12px;
    display: none;
}

.hidden {
    display: none;
}

.affix {
    top: 0;
    padding-top: 20px;
    background: #fff;
    z-index: 10;
}

.sticky-sidebar-wrapper {
    min-height: 100px;
}

@media(max-width:768px){
    .affix {
        position: static;
        width: auto;
    }
}