html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.result {
    padding: 0 12px;
}

.btn-link:focus {
    outline: none;
}

.progress p{
    position: absolute;
    width: 93%;
    border-radius: 20%;
    padding: 0 5px;
}

.category-name .toggle-lessons {
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.flip {
    transform: rotate(-180deg);
}

.category-name-mg {
    margin-left: 15px;
    margin-right: 15px;
}

.lessons-wrapper {
    max-height: 358px;
    overflow: hidden;
}
.lessons-wrapper:hover{
    overflow-y: auto;
}

.lessons-wrapper p {
    position:relative;
    white-space: nowrap;
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.text-bold {
    font-weight: bold;
}

.pagination {
    margin-bottom: 15px;
    margin-top: 15px;
}

.pagination li a {
    margin-bottom: 5px;
}

.glyphicon-refresh.spinning {
    transform-origin: 48% 50%;
}

.affix-top {
}

.affix {
    position: fixed;
    top: 0;
    padding-top: 20px;
    background: #fff;
    z-index: 10;
    width: 20.5%;
}

.sticky-sidebar-wrapper {
    min-height: 100px;
}

@media(max-width:991px){
    .affix {
        position: static;
        width: auto;
    }
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}