{% extends 'AppBundle:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Phím tắt khi học <small>(click chuột vào ô nhập câu trả lời trước)</small></h3>
            <table class="table">
                <tr>
                    <td><b>Ctrl + space: </b></td>
                    <td>Nghe</td>
                </tr>
                <tr>
                    <td><b>Enter: </b></td>
                    <td>Kiểm tra đáp án</td>
                </tr>
                <tr>
                    <td><b>Ctrl + enter: </b></td>
                    <td>Ẩn câu trả lời</td>
                </tr>
                <tr>
                    <td><b>Tab hoặc mũi tên xuống: </b></td>
                    <td>Qua câu tiếp theo</td>
                </tr>
                <tr>
                    <td><b>Phím mũi tên lên: </b></td>
                    <td>Quay lại câu trước</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}