<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>khoahuy.com - {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet", href="{{ asset('assets/layout.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body>
        {% include 'AppBundle::block/nav.html.twig' %}

        <div class="container">
            {% include 'AppBundle:block:message.html.twig' %}
            {% block content %}{% endblock %}
        </div>

        {% block auth %}{% endblock %}

        <script src="{{ asset('assets/manifest.js') }}"></script>
        <script src="{{ asset('assets/layout.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
