<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="initial-scale=1">

        {% block css %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include 'block/nav.html.twig' %}
        {% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block auth %}
        {% endblock %}

        {% block javascripts %}
            {% include 'block/js.html.twig' %}
        {% endblock %}
    </body>
</html>
