{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <table class="table text-center">
                <thead>
                    <tr class="text-bold">
                        <td>Nickname</td>
                        <td>Điểm</td>
                    </tr>
                </thead>
                <tbody>
                    {% for leader in leaders %}
                        <tr>
                            <td>{{ leader.username }}</td>
                            <td>{{ leader.point }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}