<button class="btn btn-default js-audio-btn" type="button">
    <i class="glyphicon glyphicon-volume-up"></i>
    <audio class="hidden js-audio" preload="none">
        <source src="{{ asset(sentence.audioPath) }}">
    </audio>
</button>