<div id="shortcutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Phím tắt khi học <small>(click chuột vào ô nhập câu trả lời trước)</small></h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Phím</th>
                        <th>Chức năng</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><b>Ctrl + space: </b></td>
                        <td>Nghe</td>
                    </tr>
                    <tr>
                        <td><b>Enter: </b></td>
                        <td>Kiểm tra đáp án</td>
                    </tr>
                    <tr>
                        <td><b>Ctrl + enter: </b></td>
                        <td>Ẩn câu trả lời</td>
                    </tr>
                    <tr>
                        <td><b>Tab hoặc mũi tên xuống: </b></td>
                        <td>Qua câu tiếp theo</td>
                    </tr>
                    <tr>
                        <td><b>Phím mũi tên lên: </b></td>
                        <td>Quay lại câu trước</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>