<div class="well sentences-wrapper js-sentences-wrapper">
    {% set audioLoaded = 0 %}
    {% for sentence in lesson.sentences %}
        {% if sentence.wasSaved %}
            {% include '@App/lesson/_show_sentence_saved.html.twig' %}
        {% else %}
            {% include '@App/lesson/_show_sentence_notsaved.html.twig' %}
        {% endif %}
    {% endfor %}
</div>
