{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'AppBundle::lesson/_show_nav.html.twig' %}
        </div>
        <div class="col-sm-8 col-md-9">
            <p class="shortcut-help text-muted" data-toggle="modal" data-target="#shortcutModal">
                Phím tắt <i class="glyphicon glyphicon-question-sign"></i>
            </p>
            {% include 'AppBundle::lesson/_show_sentence.html.twig' %}
        </div>
    </div>
    {% include 'AppBundle::lesson/_show_help.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        window.App = {
            userLoggedIn: {{ app.user ? 1 : 0 }},
            saveLessonUrl: '{{ path('ajax_user_save_lesson', {'lesson': lesson.id}) }}',
            completeLessonUrl: '{{ path('ajax_user_complete_lesson', {'lesson': lesson.id}) }}'
        };
    </script>
    <script src="{{ asset('assets/lesson_show.js') }}"></script>
{% endblock %}
