<meta charset="UTF-8" />
<title>{% block title %}Welcome!{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<meta name="viewport" content="initial-scale=1">

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}