{% block fos_user_content %}
{% endblock fos_user_content %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#js-btn-show-register-form").on('click', function (e) {
                e.preventDefault();
                if ( $("#js-modal-body-register").is(':empty') ) {
                    getRegistrationForm();
                } else {
                    e.preventDefault();
                    $("#js-modal-body-login").addClass("hidden");
                    $("#js-modal-body-register").removeClass("hidden");
                }

            });

            $("#js-btn-show-login-form").on("click", function (e) {
                e.preventDefault();
                $("#js-modal-body-login").removeClass("hidden");
                $("#js-modal-body-register").addClass("hidden");
            })

            $("#authModal form").on('submit', function (e) {
                e.preventDefault();
                var currentForm = $(this);
                $.ajax({
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    method: "post"
                }).done(function (data) {
                    console.log(data);

                    if (data.error) {
                        currentForm.find($(".js-modal-form-error")).html("<div class=\"alert alert-danger\">"+data.error+"</div>");
                    } else if (data.username) {
                        ajaxData.username = data.username;
                        currentForm.parent().html("<div class=\"alert alert-success\">Hello "+data.username+", you are logged in successfully</div>");
                    }
                });
            });
        });

        function getRegistrationForm() {
            $.ajax({
                url: "{{ path('fos_user_registration_register') }}",
                method: 'get'
            }).done(function (data) {
                $("#js-modal-body-login").addClass("hidden");
                $("#js-modal-body-register").removeClass("hidden").html(data);
            });
        }

    </script>
{% endblock %}