{% extends 'layout.html.twig' %}

{% block content %}
    {% for category in categories %}

        <h3>{{ category.name }}</h3>

        {% for lesson in category.lessons %}
            <a href="{{ path('lessons_show', {'categorySlug': category.slug ,'position': lesson.position}) }}" title="{{ lesson.name }}">
                {{ lesson.position }}
            </a>
        {% endfor %}

    {% endfor %}
{% endblock %}