{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control">
                    <option value="0">Chon tac gia</option>
                    <option>Dan Hauer</option>
                </select>
            </div>
        </div>
        <div class="col-md-8" style="min-height: 400px">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLfR_AJFT1Bqx5JxUPPmQ1YqcAAgr1NbUX" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style rel="stylesheet" href="{{ asset('assets/css/speaking.css') }}"></style>
{% endblock %}